<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    $CSS_LINK
    <title>$TAB_TITLE</title>
</head>
<body>
    <header>
        <nav>
            <a href="/frontpage"><img id="logo" src="/assets/images/nodejs.png" alt="logo"></a>
            <a href="/nodeinfo">Nodeinfo</a>   
            <a href="/jstopics">Js Topics</a> 
            <a href="/npm">NPM</a> 
            <a href="/apitext">API design</a> 
            <a href="/git">Git</a> 
            <a href="/nodemon">Nodemon</a> 
            <a href="/SSR">SSR</a> 
            <a href="/about">About</a> 
            
        </nav>
    </header>

    <main>